

    <!-- header section-->
    <div class="header">
         <div class="header__items">
            <h1>GOOD FOOD GOOD LIFE </h1>
            <h3>Welcome To FOODLER</h3>
            <a class="header__iteems__a" href="#menuItems">Order Now</a>
         </div>
    </div>
    <!-- end of header -->

    <!-- about Us section -->
    <section class="about__section" id="about">
        <h1>About Us</h1>

        <div class="about__cards__section">
            <div class="about__card" data-tilt>
                <i class="about__icon fas fa-mug-hot"></i>
                <div class="card__details">
                    <h2 class="subtitle">Drinks</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo blanditiis debitis dolor atque quia numquam.</p>
                </div>
            </div>
            <div class="about__card">
                <i class="about__icon fas fa-utensils"></i>
                <div class="card__details">
                    <h2 class="subtitle">Healthy Food</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo blanditiis debitis dolor atque quia numquam.</p>
                </div>
            </div>
            <div class="about__card">
                <i class="about__icon fas fa-mortar-pestle"></i>
                <div class="card__details">
                    <h2 class="subtitle">Organic Food</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo blanditiis debitis dolor atque quia numquam.</p>
                </div>
            </div>
            <div class="about__card">
                <i class="about__icon fas fa-drumstick-bite"></i>
                <div class="card__details">
                    <h2 class="subtitle">Fresh Meat</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo blanditiis debitis dolor atque quia numquam.</p>
                </div>
            </div>
            <div class="about__card">
                <i class="about__icon fas fa-fish"></i>
                <div class="card__details">
                    <h2 class="subtitle">Sea Food</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo blanditiis debitis dolor atque quia numquam.</p>
                </div>
            </div>
            <div class="about__card">
                <i class="about__icon fas fa-pepper-hot"></i>
                <div class="card__details">
                    <h2 class="subtitle">Hot and spicy</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo blanditiis debitis dolor atque quia numquam.</p>
                </div>
            </div>


        </div>

    </section>
    <!-- end of about Us section -->


    <!-- book table section -->
    <section class="booktable__section">
        <div class="booktable__left">
            <p class="booktable__p">
                Now Our Booktable process is going on offline
                when it will be online it will be update on this 
                webpage
            </p>
        </div>
        <div class="booktable__right">
            <h2>BOOK YOUR TABLE </h2>
            <h2>IN OUR RESTAURENT</h2>
            <a href="#">Book Table</a>
        </div>
    </section>
    <!-- end of book table section-->

    <!-- food menus -->
    <section class="food__menus" id="menuItems">
        <h1>Our FOOD Items</h1>
        <div class="food__cards__container">
            <% menuItems.forEach(function(menuItem){ %>
                <div class="food__card">
                    <img src="Images/<%= menuItem.image %>" alt="error">
                    <h3><%= menuItem.name %></h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae, aut?</p>
                    <div class="food__perchase">
                        <h4>$<%= menuItem.price %></h4>
                        <button  data-food="<%= JSON.stringify(menuItem) %>" class="addcart__button">Add to cart</button>
                    </div>
                </div>
            <% }) %>
            
        </div>
    </section>
    <!-- end of food menu section -->

    <!-- social media section -->
    <section class="social__media__section">
        <div class="social__media">
            <div class="social__facebook">
                <i class="social__app fab fa-facebook"></i>
                <h3>facebook</h3>
            </div>
            <div class="social__whatsapp">
                <i class="social__app fab fa-whatsapp-square"></i>
                <h3>whatsapp</h3>
            </div>
            <div class="social__twitter">
                <i class="social__app fab fa-twitter"></i>
                <h3>twitter</h3>
            </div>
        </div>
    </section>
    <!-- end of social media section -->

    <!-- feedback form -->
    <section class="feedback__section">
        <div class="feedback__div">
            <h1 style="text-align: center;">Give Us feedback</h1>
            <form action="/" method="post" class="feedback__form">
                <div class="input__box">
                    <input type="text" placeholder="Your Name"/>
                </div>
                <div class="input__box">
                    <input type="text" placeholder="Food Name"/>
                </div>
                <div class="input__box">
                    <!-- <input type="number" min="0" max="5" placeholder="Give Ratings"/> -->
                    <select class="input__select">
                        <option value="0">Select Ratings</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                </div>
                <div class="input__box">
                    <textarea type="text" placeholder="Enter your review here"></textarea>
                </div>
                <div class="feedback__submit__button__div">
                    <button class="feedback__submit__button" type="submit">submit Feedback</button>
                </div>
            </form>
        </div>
    </section>
    <!-- feedback form end -->
