@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Baloo 2", cursive;
  overflow-x: hidden;
  transition: all 1s;
}

/* navbar styles */
.appLogo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.main__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: honeydew;
}

.main__nav__left {
  display: flex;
  align-items: center;
  flex: 0.2;
}

.main__nav__left h3 {
  margin-left: 10px;
}

.main__nav__right {
  flex: 0.4;
}

.main__nav__right ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.main__nav__right ul li {
  list-style-type: none;
  font-size: 20px;
}

.main__nav__right ul a {
  text-decoration: none;
  color: black;
}

.navber__link:hover {
  color: crimson;
  transition: all 0.2s;
}

.list__cart {
  background-color: orange;
  border-radius: 40px;
  padding: 0px 10px;
}
.list__cart span {
  color: white;
  margin-right: 3px;
}

.list__cart .fa-cart-plus {
  color: black;
}

/* end of navbar styles */

/* footer section */
.footer__section {
  width: 100%;
  height: auto;
  background-color: black;
  opacity: 0.9;
  color: rgb(201, 199, 199);
  text-align: center;
  position: fixed;
  bottom: 0;
}
/* end of footer section */

/* ======================================================== */

/* keyframes */

@keyframes sliding {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(3%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes buttonbip {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
    color: white;
    background-color: orange;
  }
  100% {
    opacity: 0.7;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main__nav {
    padding: 0 0px;
  }
  .appLogo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  .main__nav__right {
    flex: 0.8;
  }

  .main__nav__left h3 {
    margin-left: 10px;
    font-size: 15px;
  }
  .main__nav__right ul li {
    list-style-type: none;
    font-size: 10px;
  }

  .header,
  .booktable__section {
    height: 60vw;
  }
  .about__section {
    transform: translateY(-20px);
  }

  .about__card {
    flex: 0 0 calc(50%-16px);
  }

  .booktable__right h2,
  a {
    font-size: 10px;
  }

  .cart__payment__div {
    width: 80%;
  }
  .item__details img {
    width: 60%;
    border-radius: 40%;
    border: 5px solid white;
  }
  .item__details p {
    font-size: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main__nav__right {
    flex: 0.7;
  }

  .header,
  .booktable__section {
    height: 55vw;
  }
  .about__card {
    /* width: 25vw; */
    flex: 0 0 calc(45%);
  }

  .booktable__right h2,
  a {
    font-size: 1.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header {
    height: 65vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main__nav__right {
    flex: 0.5;
  }

  .header {
    height: 50vh;
  }

  .booktable__section {
    height: 40vh;
  }

  .about__card {
    /* width: 25vw; */
    flex: 0 0 calc(31%);
  }

  .booktable__right {
    align-items: center;
  }
  .empty__cart img {
    width: 30%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main__nav__right {
    flex: 0.4;
  }
  .header {
    height: 90vh;
  }

  .booktable__section {
    height: 70vh;
  }

  .empty__cart img {
    width: 30%;
  }
}

/* design scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(orange, transparent, rgb(80, 233, 80));
  border-radius: 20px;
}
