@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Baloo 2", cursive;
  overflow-x: hidden;
  transition: all 1s;
}

/* navbar styles */
.appLogo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.main__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: honeydew;
}

.main__nav__left {
  display: flex;
  align-items: center;
  flex: 0.2;
}

.main__nav__left h3 {
  margin-left: 10px;
}

.main__nav__right {
  flex: 0.4;
}

.main__nav__right ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.main__nav__right ul li {
  list-style-type: none;
  font-size: 20px;
}

.main__nav__right ul a {
  text-decoration: none;
  color: black;
}

.navber__link:hover {
  color: crimson;
  transition: all 0.2s;
}

.list__cart {
  background-color: orange;
  border-radius: 40px;
  padding: 0px 10px;
}
.list__cart span {
  color: white;
  margin-right: 3px;
}

.list__cart .fa-cart-plus {
  color: black;
}

/* end of navbar styles */

/* header section styles */
.header {
  clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../Images/headerPic.jpg") center/cover no-repeat fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__items {
  position: absolute;
  background-attachment: fixed;
}

.header__items h1 {
  color: white;
  border-bottom: 2px solid grey;
  margin-bottom: 10px;
}

.header__items h3 {
  color: white;
  animation: sliding 5s linear alternate infinite;
  margin-bottom: 30px;
}

.header__items a {
  text-decoration: none;
  animation: buttonbip 8s ease-in-out alternate infinite;
  color: orange;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  padding: 2px 20px;
  transition: 0.5s;
}

.header__iteems__a:hover {
  color: white;
  transform: translateY(1%);
  background: linear-gradient(transparent, orange);
}

/* end of header section */

/* about us section */
.about__section {
  margin: 15px 3vw;
  transform: translateY(-30px);
}

.about__section h1 {
  text-align: center;
  transform: translateY(-10px);
}

.about__card {
  background-color: rgba(233, 232, 232, 0.5);
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 5px;
  line-height: 1.5;
  box-shadow: 1px 1px 2px grey;
}

.about__card .fas {
  font-size: 45px;
  color: orange;
  margin-right: 10px;
}

.subtitle {
  color: orange;
}

.about__icon:hover,
.subtitle:hover {
  transition: transform 2s ease, color 2s ease;
  transform: translateY(-10px);
  color: orangered;
  cursor: pointer;
}

.card__details p {
  text-align: justify;
  font-weight: 700;
}

.about__cards__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* end of about us section */

/* book table section */

.booktable__section {
  clip-path: polygon(
    29% 0,
    70% 0%,
    100% 0,
    100% 100%,
    70% 100%,
    21% 100%,
    0 92%,
    0 0
  );
  width: 100vw;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
    url("../Images/bookTablePic.jpg") center/cover no-repeat fixed;
  display: flex;
}

.booktable__left {
  flex: 0.5;
  position: relative;
}
.booktable__left .booktable__p {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
  cursor: not-allowed;
}

.booktable__right {
  clip-path: polygon(48% 0, 100% 0, 100% 100%, 0% 100%);
  flex: 0.5;
  background-color: rgb(0, 0, 0, 0.9);
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 30px;
}

.booktable__right:hover {
  clip-path: polygon(24% 0, 100% 0%, 100% 100%, 25% 100%, 0 50%);
}

.booktable__right h2 {
  color: white;
  font-size: 2rem;
  border-bottom: 1px solid grey;
  animation: sliding 5s linear reverse infinite;
}

.booktable__right > h2:hover {
  border-bottom: 1px solid coral;
}

.booktable__right a {
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: 2px solid orange;
  border-radius: 20px;
  margin-top: 20px;
  padding: 0 10px;
  animation: sliding 3s linear alternate-reverse infinite;
}
.booktable__right > a:hover {
  background-color: orange;
  transition: 0.9s;
}

/* end of book table section */

/* food menu section */
.food__menus {
  margin: 10px 20px;
}

.food__menus h1 {
  text-align: center;
  margin-top: 20px;
}

.food__cards__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.food__card {
  width: 300px;
  height: 370px;
  margin: 20px 10px;
  border-radius: 10px;
  background-color: rgba(233, 230, 230, 0.3);
  box-shadow: 0px 0px 6px black;
}

.food__card img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.food__card h3 {
  margin-top: 10px;
  margin-left: 10px;
}

.food__card p {
  margin-left: 10px;
}

.food__perchase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

.food__perchase h4 {
  color: orangered;
}

.food__perchase button {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid orange;
  padding: 5px 10px;
  color: orange;
}

.food__perchase > button:hover {
  background-color: orange;
  color: white;
  transition: 1s;
}

/* end of food menu section */

/* social media section  */
.social__media__section {
  width: 100%;
  height: 200px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../Images/social__back.jpg") center/cover no-repeat fixed;
}

.social__media {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social__app {
  font-size: 40px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 1.2s;
}

.social__facebook .social__app:hover {
  color: #4267b2;
}

.social__whatsapp .social__app:hover {
  color: rgb(37, 251, 52);
}

.social__twitter .social__app:hover {
  color: #1da1f2;
}

.social__facebook,
.social__whatsapp,
.social__twitter {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: sliding 3s linear alternate-reverse infinite;
}

/* end of social media section  */

/* feedback section */
.feedback__section {
  margin: 20px 20px;
}

.feedback__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__form {
  margin-top: 20px;
  width: 60%;
  margin-bottom: 100px;
}

.input__box {
  width: 100%;
  margin: 10px 0px;
}

.input__box > input,
.input__box > textarea {
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px 15px;
  width: 100%;
}
.input__box > .input__select {
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px 15px;
  width: 100%;
}
.input__select option {
  border-bottom: 1px solid grey;
}

.input__box > input:focus,
.input__box > .input__select:focus,
.input__box > textarea:focus {
  outline: none;
  border: 2px solid orange;
  font-weight: 700;
  background-color: rgba(165, 250, 165, 0.3);
}

.feedback__submit__button__div {
  display: flex;
  justify-content: flex-end;
}

.feedback__submit__button {
  background-color: orange;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  margin-right: 10px;
  animation: sliding 3s linear alternate-reverse infinite;
}
.feedback__submit__button:hover {
  background-color: transparent;
  border: 2px solid orange;
  color: orange;
}

/* end of feedback section */

/* footer section */
.footer__section {
  width: 100%;
  height: auto;
  background-color: black;
  opacity: 0.9;
  color: rgb(201, 199, 199);
  text-align: center;
  position: fixed;
  bottom: 0;
}
/* end of footer section */

/*cart page css ========================================================= */
.cart {
  min-height: calc(100vh - 80px);
  background-color: rgba(226, 223, 223, 0.5);
}
.empty__cart {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty__cart p {
  color: grey;
}
.empty__cart img {
  width: 40%;
}

.empty__cart a {
  text-decoration: none;
  color: orange;
  background-color: transparent;
  border: 2px solid orange;
  border-radius: 20px;
  margin-top: 20px;
  padding: 0 10px;
  animation: sliding 3s linear alternate-reverse infinite;
}
.empty__cart > a:hover {
  background-color: orange;
  color: white;
  transition: 0.9s;
}

.cart__payment__section {
  min-height: 100%;
  display: flex;
  justify-content: center;
}

.cart__payment__div {
  margin-top: 5%;
  width: 60%;
}

.order__summary {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(95, 93, 93);
  padding-bottom: 10px;
}

.order__summary > h5 {
  font-weight: 700;
}

.cart__item__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  padding-bottom: 20px;
}

.item__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.5;
}

.item__details img {
  width: 50%;
  height: max-content;
  border-radius: 20px;
  border: 5px solid white;
}

.item__details p {
  font-weight: 600;
}

.quantity {
  color: grey;
}
.price {
  color: orangered;
  font-weight: 600;
}

.place__order__section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.total__amount p {
  font-weight: 600;
}

.total__amount > p > span {
  color: orange;
  margin-left: 10px;
}

.cart__form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart__form input {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 10px;
}

.cart__form input:focus {
  outline: none;
  border: 2px solid orange;
}

.cart__form button,
.place__order__section a,
.submit__button {
  margin-top: 10px;
  background-color: rgb(243, 94, 40);
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 1rem;
  border: none;
  animation: sliding 3s linear alternate-reverse infinite;
  transition: 0.5s;
}

.cart__form button:hover,
.place__order__section a:hover,
.submit__button:hover {
  color: orangered;
  background-color: transparent;
  border: 2px solid orangered;
}

/*Login and register page ========================================================= */

.login__section {
  min-height: calc(100vh - 80px);
  background-color: rgba(116, 113, 113, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__div {
  width: 300px;
}

.login__div__form {
  display: flex;
  flex-direction: column;
}

.input__box {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 10px;
}

.input__box:focus {
  outline: none;
  border: 1px solid orange;
}

.submit__login__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__a {
  font-size: 18px;
  text-decoration: none;
  color: orangered;
}

.login__a:hover {
  color: orange;
}

/* end of login and register page======================================= */

/* ======================================================== */

/* keyframes */

@keyframes sliding {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(3%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes buttonbip {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
    color: white;
    background-color: orange;
  }
  100% {
    opacity: 0.7;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main__nav {
    padding: 0 0px;
  }
  .appLogo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  .main__nav__right {
    flex: 0.8;
  }

  .main__nav__left h3 {
    margin-left: 10px;
    font-size: 15px;
  }
  .main__nav__right ul li {
    list-style-type: none;
    font-size: 10px;
  }

  .header,
  .booktable__section {
    height: 60vw;
  }
  .about__section {
    transform: translateY(-20px);
  }

  .about__card {
    flex: 0 0 calc(50%-16px);
  }

  .booktable__right h2,
  a {
    font-size: 10px;
  }

  .cart__payment__div {
    width: 80%;
  }
  .item__details img {
    width: 60%;
    border-radius: 40%;
    border: 5px solid white;
  }
  .item__details p {
    font-size: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main__nav__right {
    flex: 0.7;
  }

  .header,
  .booktable__section {
    height: 55vw;
  }
  .about__card {
    /* width: 25vw; */
    flex: 0 0 calc(45%);
  }

  .booktable__right h2,
  a {
    font-size: 1.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header {
    height: 65vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main__nav__right {
    flex: 0.5;
  }

  .header {
    height: 50vh;
  }

  .booktable__section {
    height: 40vh;
  }

  .about__card {
    /* width: 25vw; */
    flex: 0 0 calc(31%);
  }

  .booktable__right {
    align-items: center;
  }
  .empty__cart img {
    width: 30%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main__nav__right {
    flex: 0.4;
  }
  .header {
    height: 90vh;
  }

  .booktable__section {
    height: 70vh;
  }

  .empty__cart img {
    width: 30%;
  }
}

/* design scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(orange, transparent, rgb(80, 233, 80));
  border-radius: 20px;
}
