<section
  class="customers__order__section d-flex justify-content-center"
  style="overflow-x: scroll"
>
  <div class="container pt-3" style="width: 80%">
    <h1>customers Orders History</h1>
    <table class="table table-striped" style="margin-left: -10px; width: 100%">
      <thead>
        <tr>
          <th scope="col" style="font-size: 20px">Order Details</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Address</th>
          <th scope="col">status</th>
          <th scope="col">Time</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody id="adminOrdersTableBody"></tbody>
    </table>
  </div>
</section>
